- if include_header
  = header artifact.title
  .row.artifact-full
    .col-lg-8
      %p.text= artifact.text
    .col-lg-4
      .download
        = thumbnail(artifact, "Download/View File")
- else
  .artifact-embedded
    %h2.title= artifact.title
    %p.text= artifact.text
    - if artifact.download
      = link_to "Download/View File", artifact.download, class: "download"
