- if artifact.children?
  %li.col-lg-6
    %a= artifact.title
    - if artifact.summary?
      %p.summary= artifact.summary
    %ul.children
      - artifact.children.each do |child|
        - Artifact.load(child).tap do |a|
          %li= link_to a.title, artifact_url(a)
- else
  %li.col-lg-6
    = link_to artifact.title, artifact_url(artifact)
    - if artifact.summary?
      %p.summary= artifact.summary
